// Primary Colors
$primary-color: #6c64fb;
$primary-light: #748cf1;
$primary-dark: #24142c;

// Secondary Colors
$secondary-color: #9e616b;
$secondary-light: #abaed3;
$secondary-dark: #3e3b51;

// Additional Colors
// $background-color: #f5f5f5;
// $text-color: #212121;
// $accent-color: #ff4081;